---
import { Image } from "astro:assets";
import BurgerButton from "../Menu/BurgerButton.astro";
import BurgerPanel from "../Menu/BurgerPanel.astro";
import DesktopNav from "../Menu/Desktop.Nav.astro";
import logo from '../../assets/images/logo.png';
const base = import.meta.env.BASE_URL;
---
<header class="flex items-center justify-between py-5 px-5 lg:px-6"> 
    <a href={base}>
        <Image 
        src={logo}
        alt="Логотип детейлінг сервісу Apex Detailing"
        width={88}
        height={88}
        loading="eager"
        />
    </a>
    <p>
         Apex Detailing - Більше, ніж просто сервіс!
    </p>
    <DesktopNav />
    <BurgerButton />
</header>
<BurgerPanel />
 
