---
import { Image } from "astro:assets";
import WhyOurServicesItem from "./WhyOurServicesItem.astro";

const services = [
    {
        title: "Лабораторна чистота",
        description: "Наші бокси захищені від пилу та мають закритий контур вентиляції. Це критично для правильної адгезії кераміки та бездоганного нанесення антигравійної плівки без повітряних бульбашок.",
        image: null
    },
    {
        title: "Контроль світла Scangrip",
        description: "Використовуємо професійне інспекційне світло з різною колірною температурою. Це дозволяє майстру побачити й усунути навіть найменші голограми, які непомітні під звичайними лампами.",
        image: null
    },
    {
        title: "Вимірювання мікронів",
        description: "Перед початком полірування ми обов'язково вимірюємо товщину лакофарбового покриття ультразвуковим товщиноміром. Ми працюємо безпечно та зберігаємо максимальний шар рідного лаку.",
        image: null
    },
    {
        title: "Преміальна хімія",
        description: "Жодних мас-маркет засобів. Лише сертифіковані європейські та американські бренди: Koch-Chemie, Gtechniq, CarPro та хімічно стійкі поліуретанові плівки преміум-сегменту.",
        image: null
    }

]

---

<section>
    <h2>
        Чому люди обирають саме «Apex Detailing»?
    </h2>
    <div>
        {services.map(service => <WhyOurServicesItem {...service} />)}
    </div>
</section>