---
import { Picture } from 'astro:assets';
import IntroduceBlockImg from '../../assets/images/ServicesPageImages/introduceBlockImg.webp';
---

<section>
    <h1> Технологічні рішення для вашого авто </h1>
    <p> Оберіть комплекс, який відповідає поточним потребам вашого автомобіля. Усі ціни є прозорими та залежать від класу і стану авто. </p>
    <a href="#Cards"> Дізнатися більше </a>
    <Picture src={IntroduceBlockImg} alt="Головне зображення сторінки" />
</section>