---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import WhyOurServices from '../components/WhyOurServices/WhyOurServices.astro';
import AboutUs from '../components/AboutUs.astro';

---
<Layout>
	<Header />
		<main>
			<Hero />
			<WhyOurServices />
			<AboutUs />
		</main>
	<Footer />
</Layout>