---
import { Picture } from "astro:assets";
import informationBlockImg from '../../assets/images/ContactsPageImages/informationBlockImg.webp';
---


<section>
    <h2> Чекаємо на ваше авто в Apex Detailing </h2>
    <p>Завітайте на безкоштовну діагностику стану лакофарбового покриття та консультацію майстра</p>
    <a id="#form"> Детальніше </a>
    <Picture src={informationBlockImg} alt="Головне зображення сторінки із контактами" />
</section>