---
import { Image } from "astro:assets";
import BurgerButton from "./Menu/BurgerButton.astro";
import BurgerPanel from "./Menu/BurgerPanel.astro";
import DesktopNav from "./Menu/Desktop.Nav.astro";
import logo from '../assets/images/logo.png';

const base = import.meta.env.BASE_URL;

---
<header> 
    <div class="flex items-center justify-between py-5 px-5 lg:px-6">
        <a href={`${base}`}>
            <Image 
                src={logo}
                alt=""
                width={88}
                height={88}
            />
        </a>
        <div>
            Apex Detailing - Більше, ніж просто сервіс!
        </div>
        <DesktopNav />
        <BurgerButton />
         
    </div>
</header>
<BurgerPanel />
 
