---
import CPAButton from './CPAButton.astro';

---
<section>
    <div>
        <div>
            <h1> 
                Apex Detailing 
            </h1>
            <h2>
                Естетика вашого авто, захищена технологіями.
            </h2>
            <CPAButton />
        </div>
        <div>

        </div>
    </div>
</section>
